---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_161l3zKs0xJP6zPXduci33fY&description=1%20month%20charge%20for%20bobmiller%40example.com
    headers:
      Authorization:
      - Bearer sk_test_zOUkEznY8BwjQO74rsAc52ye
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_161l40Ks0xJP6zPXn06xaKZo",
          "object": "charge",
          "created": 1431466640,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_161l3zKs0xJP6zPXRT3YOocJ",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2019,
            "fingerprint": "53HU0yi9q9LOctGv",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_161l40Ks0xJP6zPXWrxzpPJl",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "1 month charge for bobmiller@example.com",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_161l40Ks0xJP6zPXn06xaKZo/refunds",
            "data": []
          }
        }
  recorded_at: Tue, 12 May 2015 21:37:20 GMT
recorded_with: VCR 2.9.3
