---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_167ve0Ks0xJP6zPXVIXgSAxV&plan=standard&email=bobmiller%40example.com
    headers:
      Authorization:
      - Bearer sk_test_zOUkEznY8BwjQO74rsAc52ye
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1432937280,
          "id": "cus_6KapQAHGMKoPzC",
          "livemode": false,
          "description": null,
          "email": "bobmiller@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6KapQAHGMKoPzC/subscriptions",
            "data": [
              {
                "id": "sub_6Kap4D6nDrbMrV",
                "plan": {
                  "interval": "month",
                  "name": "Standard Plan",
                  "created": 1432822875,
                  "amount": 999,
                  "currency": "usd",
                  "id": "standard",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1432937280,
                "status": "active",
                "customer": "cus_6KapQAHGMKoPzC",
                "cancel_at_period_end": false,
                "current_period_start": 1432937280,
                "current_period_end": 1435615680,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6KapQAHGMKoPzC/sources",
            "data": [
              {
                "id": "card_167ve0Ks0xJP6zPXbUQ0bEmk",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 1,
                "exp_year": 2019,
                "fingerprint": "53HU0yi9q9LOctGv",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6KapQAHGMKoPzC"
              }
            ]
          },
          "default_source": "card_167ve0Ks0xJP6zPXbUQ0bEmk"
        }
  recorded_at: Fri, 29 May 2015 22:08:01 GMT
recorded_with: VCR 2.9.3
