---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2017&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_zOUkEznY8BwjQO74rsAc52ye
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_160zoyKs0xJP6zPXeWJHV3EW",
          "livemode": false,
          "created": 1431285040,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_160zoyKs0xJP6zPXbLrWaLY7",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "JnnWsfYau1b9zfkj",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "73.149.218.80"
        }
  recorded_at: Sun, 10 May 2015 19:10:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_160zoyKs0xJP6zPXeWJHV3EW&description=test%20with%20invalid%20card
    headers:
      Authorization:
      - Bearer sk_test_zOUkEznY8BwjQO74rsAc52ye
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_160zozKs0xJP6zPX7yPEiedC"
          }
        }
  recorded_at: Sun, 10 May 2015 19:10:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_161bfaKs0xJP6zPXgNcWrcr7&description=1%20month%20charge%20for%20bobmiller%40example.com
    headers:
      Authorization:
      - Bearer sk_test_zOUkEznY8BwjQO74rsAc52ye
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_161bfbKs0xJP6zPXgvb8sLaC",
          "object": "charge",
          "created": 1431430531,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_161bfaKs0xJP6zPXzZCAHIR9",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2019,
            "fingerprint": "53HU0yi9q9LOctGv",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_161bfbKs0xJP6zPXaKaV386N",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "1 month charge for bobmiller@example.com",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_161bfbKs0xJP6zPXgvb8sLaC/refunds",
            "data": []
          }
        }
  recorded_at: Tue, 12 May 2015 11:35:31 GMT
recorded_with: VCR 2.9.3
