---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2017&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_zOUkEznY8BwjQO74rsAc52ye
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_167vdrKs0xJP6zPXjKaQqDQu",
          "livemode": false,
          "created": 1432937271,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_167vdrKs0xJP6zPXhZHk9tMh",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53HU0yi9q9LOctGv",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "73.149.218.80"
        }
  recorded_at: Fri, 29 May 2015 22:07:51 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_167vdrKs0xJP6zPXjKaQqDQu&plan=standard&email=janedoe%40example.com
    headers:
      Authorization:
      - Bearer sk_test_zOUkEznY8BwjQO74rsAc52ye
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1432937272,
          "id": "cus_6KapTSh2obXnqm",
          "livemode": false,
          "description": null,
          "email": "janedoe@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6KapTSh2obXnqm/subscriptions",
            "data": [
              {
                "id": "sub_6KapfSicK7VBOm",
                "plan": {
                  "interval": "month",
                  "name": "Standard Plan",
                  "created": 1432822875,
                  "amount": 999,
                  "currency": "usd",
                  "id": "standard",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1432937272,
                "status": "active",
                "customer": "cus_6KapTSh2obXnqm",
                "cancel_at_period_end": false,
                "current_period_start": 1432937272,
                "current_period_end": 1435615672,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6KapTSh2obXnqm/sources",
            "data": [
              {
                "id": "card_167vdrKs0xJP6zPXhZHk9tMh",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2017,
                "fingerprint": "53HU0yi9q9LOctGv",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6KapTSh2obXnqm"
              }
            ]
          },
          "default_source": "card_167vdrKs0xJP6zPXhZHk9tMh"
        }
  recorded_at: Fri, 29 May 2015 22:07:52 GMT
recorded_with: VCR 2.9.3
