---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_167oByKs0xJP6zPXYV0YwePC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_zOUkEznY8BwjQO74rsAc52ye
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_167oByKs0xJP6zPXYV0YwePC",
          "created": 1432908634,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_167oByKs0xJP6zPXbHCs2K0K",
              "object": "charge",
              "created": 1432908634,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_167oBwKs0xJP6zPXuy8sYyp4",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2017,
                "fingerprint": "53HU0yi9q9LOctGv",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6KT8sZEpqcd3q4"
              },
              "captured": true,
              "balance_transaction": "txn_167oByKs0xJP6zPXjjwmAnzo",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_6KT8sZEpqcd3q4",
              "invoice": "in_167oBxKs0xJP6zPXdporhEyH",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_167oByKs0xJP6zPXbHCs2K0K/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_6KT87wMGqLjXDg",
          "api_version": "2015-04-07"
        }
  recorded_at: Fri, 29 May 2015 22:07:44 GMT
recorded_with: VCR 2.9.3
