---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2017&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_zOUkEznY8BwjQO74rsAc52ye
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_160zovKs0xJP6zPXRNFAWclX",
          "livemode": false,
          "created": 1431285037,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_160zovKs0xJP6zPXMwyKaJN6",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53HU0yi9q9LOctGv",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "73.149.218.80"
        }
  recorded_at: Sun, 10 May 2015 19:10:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_160zovKs0xJP6zPXRNFAWclX&description=test%20charge%20with%20valid%20card
    headers:
      Authorization:
      - Bearer sk_test_zOUkEznY8BwjQO74rsAc52ye
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_160zowKs0xJP6zPXqGrKzJpT",
          "object": "charge",
          "created": 1431285038,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_160zovKs0xJP6zPXMwyKaJN6",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53HU0yi9q9LOctGv",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_160zowKs0xJP6zPXfBEGGDEB",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "test charge with valid card",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_160zowKs0xJP6zPXqGrKzJpT/refunds",
            "data": []
          }
        }
  recorded_at: Sun, 10 May 2015 19:10:38 GMT
recorded_with: VCR 2.9.3
