!!! 5
%html(lang="en-US")
  %body
    %p
      Hi  #{@invitation.invitee_name}!
    %p
      #{@invitation.message}
    %p
      Click on the link below to sign up: 
    %p  
      = link_to "Join MyFlix", register_with_token_url(@invitation.token) 
    