!!! 5
%html(lang="en-US")
  %body
    %p
      Dear #{@user.full_name},
    %p
      MyFlix has experienced a problem with processing your monthly payment. Access to MyFlix has been suspended. Please update your credit card information to resume your enjoyment of MyFlix.
    %p
      Sincerely,
    %p
      The MyFlix Team    