!!! 5
%html(lang="en-US")
  %body
    %p
      Congratulations on becoming a member of MyFlix!
    %p
      You can now watch movies, review movies, and follow your friends to see what they are watching!