---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_168arzKs0xJP6zPXXoIdDivC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_zOUkEznY8BwjQO74rsAc52ye
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_168arzKs0xJP6zPXXoIdDivC",
          "created": 1433095751,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_168arzKs0xJP6zPXHUTnkIRj",
              "object": "charge",
              "created": 1433095751,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_168apsKs0xJP6zPXjeiEUdon",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2018,
                "fingerprint": "De4Yjf8XSp9d3vWX",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6KbX0KXUoCpZjH"
              },
              "captured": false,
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_6KbX0KXUoCpZjH",
              "invoice": null,
              "description": "test failed charge",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_168arzKs0xJP6zPXHUTnkIRj/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_6LHQOjYGRIqaZ3",
          "api_version": "2015-04-07"
        }
  recorded_at: Sun, 31 May 2015 18:36:17 GMT
recorded_with: VCR 2.9.3
